.testimonial-content p{
		font-size: 18px;
		line-height: 30px;
		text-align: justify;
		font-weight: 500;
		font-family: 'Lato', sans-serif;
}

.box_shadow {
	-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow: 0px 0px 1px #000000;
-webkit-box-shadow: 0px 0px 4px #000000;
box-shadow: 0px 0px 4px #000000;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}